.split {
  display: flex;
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  justify-content: center;
  font-family: "Karla", sans-serif;
  color: #273043;
}

.left {
  left: 0;
  flex-direction: column;
}

.right {
  right: 0;
  object-fit: cover;
}

.social {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4em;
}

form input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9197AE;
}

form input[type="checkbox"] {
  accent-color: #9197AE;
  margin: 10px 10px 10px 0;
}

.logo {
  width: 40px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  color: #F02D3A;
  text-transform: uppercase;
  font-family: "Rubik", system-ui;
  font-weight: 500;
  letter-spacing: .1em;
}

.submit {
  background-color: #F9E08C;
  border-style: none;
  width: 100px;
}

a{
    color: #DD0426;
}


